<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agritech</title>  
    <link rel="icon" type="image/x-icon" href="https://firebasestorage.googleapis.com/v0/b/fusion-appointment.appspot.com/o/favicon.png?alt=media&token=fc859baa-33d4-480e-a373-83466513325d">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<%- include('partials/header.ejs') %>

    <section id="title">
            <div class="p-5 text-center bg-body-tertiary title-background">
              <div class="container py-5">
                <img class="jumbotron-logo" src="/images/logo.png" alt="Agritech Logo">
                <h1 class="text-body-emphasis jumbotron-h1"><span style="color: white;">AGRITECH</span></h1>
                <p class="col-lg-8 mx-auto lead jumbotron-p">
                  Where Agriculture Meets Technology
                </p>
                <a href="#overview">
                <button class="btn btn-primary px-5 mb-5 jumbotron-btn" type="button">
                Learn More
                  </button></a>
              </div>
            </div>
    </section>

    <section id="overview">
      <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom" style="font-weight: 600;">Overview</h2>

        <%- include('partials/chatbot.ejs') %>
    
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
          <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Integrated Plant Disease Detection System</h2>
            <p class="text-body-secondary">In the realm of precision agriculture, the detection of plant diseases is crucial for maintaining crop 
              health and optimizing yields. Our project leverages advanced technologies, specifically the Segment Anything Model (SAM) and 
              YOLOv11, to develop a robust model for detecting diseased plants based on their leaves and stems.</p>
            <a href="/model" class="btn btn-primary btn-lg">Explore
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg>
            </a>
          </div>
    
          <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
              <div class="col d-flex flex-column gap-2">
                <div>
                  <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/leaf.png" alt="leaf"/>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Leaf, Stem and Fruit Analysis</h4>
                <p class="text-body-secondary">The model first identifies the plant using its leaves, stems, and fruits. It classifies the plant as healthy or diseased.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div>
                  <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/virus.png" alt="virus"/>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Disease Classification</h4>
                <p class="text-body-secondary">Accurate detection of various diseases based on visual symptoms.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div>
                  <img width="30" height="30" src="https://img.icons8.com/fluency-systems-filled/30/rebalance-portfolio.png" alt="rebalance-portfolio"/>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Image Segmentation</h4>
                <p class="text-body-secondary">Provides precise region isolation, SAM implementation, Advanced boundary detection and Multi-part segmentation</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div>
                  <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/hospital.png" alt="hospital"/>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Cure and Avoidance Recommendations</h4>
                <p class="text-body-secondary">Provides specific treatment options and preventive measures for identified diseases.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features">
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Empowering Plant Health with AI</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="icon-bg feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/plant-under-sun.png" alt="plant-under-sun"/>
            </div>
            <h3 class="fs-2 text-body-emphasis">Smart Plant Diagnosis</h3>
            <p>Our AI-powered tool acts like a digital plant doctor, diagnosing diseases in leaves, stems, 
              and fruits with precision. Just upload a photo, and it quickly identifies the issue, providing clear, actionable advice.</p>
          </div>
          <div class="feature col">
            <div class="icon-bg feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/goal.png" alt="goal"/>
            </div>
            <h3 class="fs-2 text-body-emphasis">Instant Accurate Insights</h3>
            <p>In seconds, the system analyzes visual symptoms such as spots, discoloration, or wilting. Whether you're a farmer or a home gardener, 
              it offers tailored recommendations to protect and nurture your plants effectively.</p>
          </div>
          <div class="feature col">
            <div class="icon-bg feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/smiling.png" alt="smiling"/>
            </div>
            <h3 class="fs-2 text-body-emphasis">Simple and User-Friendly</h3>
            <p>No technical knowledge is required. This intuitive solution ensures that expert plant health guidance 
              is always just a click away, helping you care for your plants with confidence and ease.</p>
          </div>
        </div>
      </div>
    </section>
    
    <%- include('partials/footer.ejs') %>
    <script src="/js/prism-final.js"></script>
</body>
</html>