<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agritech</title>
    <link rel="icon" type="image/x-icon" href="https://firebasestorage.googleapis.com/v0/b/fusion-appointment.appspot.com/o/favicon.png?alt=media&token=fc859baa-33d4-480e-a373-83466513325d">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <a href="/">
        <img class="logo" src="/images/logo.png" alt="Agritech Logo"></a>
        <div class="form-box">
            <h1 id="title">Login</h1>
            <form>
                <div class="input-group">

                    <div class="input-field">
                        <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/new-post.png" alt="email"/>
                        <input type="email" placeholder="Email">
                    </div>
                        
                    <div class="input-field">
                        <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/password.png" alt="password"/>
                        <input type="password" placeholder="Password">
                    </div>
                    <p>Don't have an account? <a href="/register">Register</a></p>
                </div>
                <div class="btn-field">
                    <a href="/dashboard">
                    <button type="button">Login</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>