{% extends 'layouts/layout0.html' %} {% block title %} Team {% endblock title %}
{% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/team.css' %}" />
{% endblock css_files %} {% block content %}
<section id="title">
  <div class="px-4 py-5 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="/images/logo.png"
      alt=""
      width="100"
    />
    <h1 class="display-5 fw-bold text-body-emphasis">Meet The Team</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Quickly design and customize responsive mobile-first sites with
        Bootstrap, the world's most popular front-end open source toolkit,
        featuring Sass variables and mixins, responsive grid system, extensive
        prebuilt components, and powerful JavaScript plugins.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <hr id="gurkirat" class="featurette-divider" />

    <div class="team-member member-1">
      <div class="img">
        <img
          src="{% static '/images/gsd-img.jpg' %}"
          alt="Gurkirat Singh Dhillon Image"
          width="300"
        />
      </div>
      <div class="about">
        <h2 class="name">Gurkirat Singh Dhillon</h2>
        <p class="sub">Lorem Ipsum Dolor Sit Amet</p>
        <p class="work-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="socials">
          <a href="https://github.com/Gurkirat2915X" target="_blank">
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/github.png"
              alt="github"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/gurkirat-singh-dhillon-438854289/"
            target="_blank"
          >
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
      </div>
    </div>

    <hr id="sounak" class="featurette-divider" />

    <div class="team-member member-2">
      <div class="about">
        <h2 class="name">Sounak Pal</h2>
        <p class="sub">Lorem Ipsum Dolor Sit Amet</p>
        <p class="work-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="socials">
          <a href="https://github.com/syntherat" target="_blank">
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/github.png"
              alt="github"
            />
          </a>
          <a href="https://www.linkedin.com/in/sounak-pal/" target="_blank">
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
      </div>
      <div class="img">
        <img
          src="{% static '/images/sounak-img.jpg' %}"
          alt="Sounak Pal Image"
          width="300"
        />
      </div>
    </div>

    <hr id="pratham" class="featurette-divider" />

    <div class="team-member member-3">
      <div class="img">
        <img
          src="{% static '/images/pratham-img.jpg' %}"
          alt="Pratham Kashyap Image"
          width="300"
        />
      </div>
      <div class="about">
        <h2 class="name">Pratham Kashyap</h2>
        <p class="sub">Lorem Ipsum Dolor Sit Amet</p>
        <p class="work-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="socials">
          <a href="https://github.com/prathamkashyap" target="_blank">
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/github.png"
              alt="github"
            />
          </a>
          <a href="https://linkedin.com/in/prathamkashyap5 " target="_blank">
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
      </div>
    </div>

    <hr id="swapnil" class="featurette-divider" />

    <div class="team-member member-4">
      <div class="about">
        <h2 class="name">Swapnil Prabhat</h2>
        <p class="sub">Lorem Ipsum Dolor Sit Amet</p>
        <p class="work-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="socials">
          <a href="https://github.com/SaswatSilver" target="_blank">
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/github.png"
              alt="github"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/swapnil-prabhat/"
            target="_blank"
          >
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
      </div>
      <div class="img">
        <img
          src="{% static '/images/swapnil-img.jpg' %}"
          alt="Swapnil Prabhat Image"
          width="300"
        />
      </div>
    </div>

    <hr id="harshit" class="featurette-divider" />

    <div class="team-member member-5">
      <div class="img">
        <img
          src="{% static '/images/harshit-img.jpg' %}"
          alt="Harshit Chugh Image"
          width="300"
        />
      </div>
      <div class="about">
        <h2 class="name">Harshit Chugh</h2>
        <p class="sub">Lorem Ipsum Dolor Sit Amet</p>
        <p class="work-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="socials">
          <a href="https://github.com/harshit18-09" target="_blank">
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/github.png"
              alt="github"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/harshit-chugh-719005294/"
            target="_blank"
          >
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios-glyphs/30/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
