.logo-title{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #fdc10e;
}

.logo-title > span {
    color: #357529;
}

.main-container{
    display: flex;
}

.dashboard-flex{
    display: flex;
    flex-direction: column;
}

.main-container-dash{
    display: flex;
    gap: 20px;
}

.dashboard-sec {
    flex-grow: 2;
}

.featurette-divider{
    margin-right: 20px;
}

.dashboard-sec > h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 25px;
}
.scroll_result{
    overflow-y: auto;
    height: 100px;
}