.nav-head{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #fdc10e;
}

.nav-head > span {
    color: #357529;
}

html {
    scroll-behavior: smooth;
  }

.title-background{
    background-image: url("/static/images/title-background.jpg");
    width: auto;
}

.jumbotron-h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13rem;
}

.code-snippet{
    display: inline-block;
    border-radius: 7px;
    background-color: #2d2d2d;
    padding: 20px 50px 0px 50px;
    margin: 0px 0px 10px 0px;
}

.tech-arch {
    display: flex;
    gap: 40px;
}

.code-explain p {
    font-weight: 500;
    font-size: 23px;
    line-height: 25px;
}

.code-explain li {
    font-size: 20px;
    line-height: 27px;
}