<section id="footer" class="bg-body-secondary">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
          <div class="col mb-3 col-md-6">
            <img src="./images/logo.png" alt="" width="60px">
            <p class="text-body-secondary">© 2024</p>
          </div>
          
          <div class="col col-md-3">
            <h5>Links</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="../index.html" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="../index.html#overview" class="nav-link p-0 text-body-secondary">Overview</a></li>
              <li class="nav-item mb-2"><a href="./tech-arch.html" class="nav-link p-0 text-body-secondary">Technical Architecture</a></li>
              <li class="nav-item mb-2"><a href="./detector.html" class="nav-link p-0 text-body-secondary">Detect Disease</a></li>
              <li class="nav-item mb-2"><a href="#navbar" class="nav-link p-0 text-body-secondary">About Us</a></li>
            </ul>
          </div>
      
          <div class="col col-md-3">
            <h5>The Team</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#gurkirat" class="nav-link p-0 text-body-secondary">Gurkirat Singh Dhillon</a></li>
                <li class="nav-item mb-2"><a href="#sounak" class="nav-link p-0 text-body-secondary">Sounak Pal</a></li>
                <li class="nav-item mb-2"><a href="#pratham" class="nav-link p-0 text-body-secondary">Pratham Kashyap</a></li>
                <li class="nav-item mb-2"><a href="#swapnil" class="nav-link p-0 text-body-secondary">Swapnil Prabhat</a></li>
                <li class="nav-item mb-2"><a href="#harshit" class="nav-link p-0 text-body-secondary">Harshit Chugh</a></li>
            </ul>
          </div>
        </footer>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>