<section id="footer" class="bg-body-secondary">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
          <div class="col mb-3 col-md-6">
            <img src="./images/logo.png" alt="Agritech Logo" width="60px">
            <p class="text-body-secondary">© 2024</p>
          </div>
          
          <div class="col col-md-3">
            <h5>Links</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="/#overview" class="nav-link p-0 text-body-secondary">Overview</a></li>
              <li class="nav-item mb-2"><a href="/model" class="nav-link p-0 text-body-secondary">The Model</a></li>
              <li class="nav-item mb-2"><a href="/detect" class="nav-link p-0 text-body-secondary">Detect Disease</a></li>
              <li class="nav-item mb-2"><a href="/team" class="nav-link p-0 text-body-secondary">About Us</a></li>
            </ul>
          </div>
      
          <div class="col col-md-3">
            <h5 class="footer-item">The Team</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/team#gurkirat" class="nav-link p-0 text-body-secondary">Gurkirat Singh Dhillon</a></li>
                <li class="nav-item mb-2"><a href="/team#sounak" class="nav-link p-0 text-body-secondary">Sounak Pal</a></li>
                <li class="nav-item mb-2"><a href="/team#pratham" class="nav-link p-0 text-body-secondary">Pratham Kashyap</a></li>
                <li class="nav-item mb-2"><a href="/team#swapnil" class="nav-link p-0 text-body-secondary">Swapnil Prabhat</a></li>
                <li class="nav-item mb-2"><a href="/team#harshit" class="nav-link p-0 text-body-secondary">Harshit Chugh</a></li>
            </ul>
          </div>
        </footer>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" 
integrity="sha384-oBqDVmMz4fnFO9gybG3a1G7kD8W5aD9kz3tZp5s5Y1P9n6Q4XbZK0xW2b0Y0U3E" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>